@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: #e2e8f0;
  /* Slate-200 */
  background: #0f172a;
  /* Slate-900 - Police Dark Blue */
  font-family: 'Courier New', Courier, monospace;
  /* Typewriter / Report style */
  overflow: hidden;
}

/* Custom Scrollbar for that 'System' look */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1e293b;
}

::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}